<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/companies"></ion-back-button>
        </ion-buttons>
        <ion-title>menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: -webkit-center">
                <ion-avatar>
                    <img [src]="company.url_logo" alt="Silhouette of a person's head"/>
                </ion-avatar>
                <h2>{{company.name}}</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <ion-list>

                    <ion-item-group *ngFor="let companyItem of companyItems">
                        <ion-item-divider sticky="true">
                            <ion-label>
                                {{companyItem.name}}
                            </ion-label>
                        </ion-item-divider>

                        <ion-item *ngFor="let item of companyItem.items_menu">
                            <ion-thumbnail slot="start">
                                <img [src]="item.url_image" alt="{{item.name}}"/>
                            </ion-thumbnail>
                            <ion-label class="ion-text-wrap">
                                <h3>{{item.name}}</h3>
                                <p>{{item.description}}</p>
                                <p><strong>{{item.value}}</strong></p>
                            </ion-label>
                        </ion-item>

                    </ion-item-group>

                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
